.res-info{
    background-color: #f42f2c;
    color: white;
    padding: 100px 0 150px 0;
    .info-opening{
        p{
            font-size: 14px;
        }
    }
    .info-contact{
        h2{
            font-size: 24px;
            font-weight: bolder;
          }
        p{
            font-size: 14px;
         }
    }
    .info-news{
        p{
            font-size: 14px;
        }
        .reg-form{
                position: relative;
                outline: none;
                input{
                    width: 80%;
                    height: 40px;
                    border-radius: 20px;
                    padding-left: 10px;
                    outline: none;
                    border: none !important;
                }
                span{
                    content: "";
                    position: absolute;
                    top:0.5px;
                    height: 38px;
                    width: 36px;
                    right: 79px;
                    border-radius: 20px;
                    background-color: #f42f2c;
                    line-height: 36px;
                    i{
                        margin-left: 10px;
                    }
                }
    }
}
}

.res-copyright{
        background-color: #222222;
        .copyright-left p{
            padding-left: 85px;
        }
        .copyright-left{
            a{
                color: red;
            }
        }
        .copyright-right{
            position: relative;
            top:-5px;
            margin: 0;
            padding-left: 170px;
            a{
                color: white;
                width: 35px;
                height: 35px;
            }
            span{
                font-size: 14px;
                background-color: #111111;
                display: inline-block;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 35px;
            }
        }
    }