@media (max-width: 992px) {
    .menu_btn-hidden {
        display: block;
        position: relative;
        left: -250px;
    }
    .navbar{
        background-color: transparent !important;
    }
    .navbar-toggler {
        position: relative;
        right: -250px;
    }
    .slogan{
        position: relative;
        left: -140px;
    }
    .rsvn-text{
        min-width: 678px;
        h1{
            min-width: 678px;
        }
        p{
            min-width: 678px;
        }
    }
    .rsvn-form{
        min-width: 678px;
        .form-wrap{
            min-width: 650px;
        }
    }
    .form-select-container{
        min-width: 650px;
    }
    .food-category-btn{
        font-size: 12px !important;
        padding: 30px 40px !important;
    }
    .food-gallery-btn{
        font-size: 12px !important;
        padding: 30px 40px !important;
    }

    }
   
    
    @media (max-width: 768px){
       

        .copyright-left{
            margin-left: -100px;
        }
        .copy-right{
            margin-left: -100px !important;
        }
    }