@media (max-width: 992px) {
    .menu_btn-hidden {
        display: block;
        position: relative;
        left: -250px;
    }
    .navbar{
        background-color: transparent !important;
    }
    .navbar-toggler {
        position: relative;
        right: -250px;
    }
    .slogan{
        position: relative;
        left: -140px;
    }
    .rsvn-text{
        min-width: 678px;
        h1{
            min-width: 678px;
        }
        p{
            min-width: 678px;
        }
    }
    .rsvn-form{
        min-width: 678px;
        .form-wrap{
            min-width: 650px;
        }
    }
    .form-select-container{
        min-width: 650px;
    }
    .food-category-btn{
        font-size: 12px !important;
        padding: 30px 40px !important;
    }
    .food-gallery-btn{
        font-size: 12px !important;
        padding: 30px 40px !important;
    }

    }
    // Footer
    

    // .rsvn-img{
    //     width: 100%;
        
    // }
    // .rsvn-content{
    //     display: flex;
    //     flex-direction: column;
    //     .rsvn-text{
    //         margin-top: 100px;
    //         margin-bottom: 100px;
    //         min-width: 100%;
    //     }
    //     .rsvn-form{
    //         margin-left: -40px;
    //         min-width: 100%;
    //     }
    // }
    @media (max-width: 768px){
        // .food-category-btn{
        //     font-size: 10px !important;
        //     padding: 20px 30px !important;
        // }
        // .food-gallery-btn{
        //     font-size: 10px !important;
        //     padding: 20px 30px !important;
        // }
        // Footer

        .copyright-left{
            margin-left: -100px;
        }
        .copy-right{
            margin-left: -100px !important;
        }
    }