@import "./partials/font";
@import "./partials/mixin";
@import "./partials/header";
@import "./partials/footer";




*{
    @include font-style;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}