@import "./partials/font";
@import "./partials/variable";
@import "./partials/mixin";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/blog";
@import "./partials/reservation";
@import "./partials/food-category";
@import "./partials/food-gallery";
@import "./partials/customer-reviews";
@import "./partials/res-story";
@import "./partials/responsive";


*{
    @include font-style;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}